.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.miniloader{

  text-align: center;
  margin-top: 16px;
  margin-bottom:16px;
}
